Flask~=3.0.2
WTForms~=3.1.2
Werkzeug~=3.0.1
aiogram~=3.4.1
sqlalchemy~=2.0.27
psycopg2-binary
jinja2
multidict
pydantic
pydantic_core
requests
setuptools
starlette~=0.36.3
typing_extensions
urllib3
Werkzeug~=3.0.1
python-dotenv~=1.0.1
Flask~=3.0.2
starlette~=0.36.3
python-dotenv~=1.0.1
