aiogram~=3.6.0
sqlalchemy~=2.0.27
psycopg2-binary
jinja2
multidict
pydantic~=2.7.1
pydantic_core
requests
typing_extensions
urllib3
python-dotenv~=1.0.1
path~=16.10.0
environs~=11.0.0
pip~=24.0
asyncpg
alembic~=1.13.1
python-jose
jose