<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css', v=1) }}">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="title">Регистрация</div>
            <div class="content">
                <form action="{{ url_for('signup.signup') }}" method="post">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Номер телефона</span>
                            <input type="tel" name="phone" placeholder="Номер телефона" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Пароль</span>
                            <input type="password" name="password" placeholder="Пароль" required>
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Войти">
                    </div>

                    <p>Уже есть аккаунт? <a href="{{ url_for('login.login') }}">Войти</a></p>
                </form>
          </div>
        </div>
    </body>
</html>