<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css', v=1) }}">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="title">Регистрация</div>
            <div class="content">
                <form action="{{ url_for('signup.signup') }}" method="post">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Логин</span>
                            <input type="text" name="name" placeholder="Логин" required>
                        </div>
                            <div class="input-box">
                            <span class="details">Дата рождения</span>
                        <input type="date" name="bday" placeholder="" required>
                        </div>
                            <div class="input-box">
                            <span class="details">Электронная почта</span>
                        <input type="text" name="email" placeholder="Электронная почта" required>
                        </div>
                            <div class="input-box">
                            <span class="details">Номер телефона</span>
                        <input type="tel" name="phone" placeholder="Номер телефона" required>
                        </div>
                            <div class="input-box">
                            <span class="details">Пароль</span>
                        <input type="password" name="password" placeholder="Пароль" required>
                        </div>
                            <div class="input-box">
                            <span class="details">Подтвердите пароль</span>
                        <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Регистрация">
                    </div>

                    <p>Уже есть аккаунт? <a href="{{ url_for('login.login') }}">Войти</a></p>
                </form>
          </div>
        </div>
      </body>
</html>