<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css', v=1) }}">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>

    <body>
        <div class="signUpForm">
            <p>{{ message }}</p>

            <div class="topLine">

            </div>

            <form action="{{ url_for('signup.signup') }}" method="post">
                <p class="title">Регистрация</p>

                <div class="flex">
                    <label>
                        <span>Имя</span>
                        <input class="input" type="name" name="name" placeholder="" required="">
                    </label>

                    <label>
                        <span>Дата рождения</span>
                        <input class="input" type="date" name="bday" placeholder="" required="">
                    </label>
                </div>

                <label>
                    <span>Номер телефона</span>
                    <input class="input" type="text" name="phone" placeholder="" required="">
                </label>

                <label>
                    <span>Электронная почта</span>
                    <input class="input" type="email" name="email" placeholder="" required="">
                </label>

                <label>
                    <span>Пароль</span>
                    <input class="input" type="password" name="password" placeholder="" required="">
                </label>

                <button class="submit">Регистрация</button>

                <p class="signin">Уже есть аккаунт?
                    <a href="{{ url_for('login.login') }}">Войти</a>
                </p>
            </form>
        </div>

    </body>
</html>