<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>GearMind Game — Добро пожаловать</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>
    <body>
        <div class="container">
            <h2 id="greeting">Загрузка...</h2>

            <p id="welcome-text" style="display: none;">
                В этой игре Вы сможете выполнять разные и интересные задания,
                получая за них <b>опыт</b> и <b>коины</b> <i>(GearCoin)</i>, которые Вы сможете
                обменять на различные <b>призы</b> и <b>акции партнёров</b>!<br><br>
                Чтобы начать игру, нажмите на кнопку ниже 👇
            </p>

            <button id="play" class="btn" style="display: none;">Играть</button>
            <button id="create" class="btn" style="display: none;">Создать профиль</button>
        </div>

        <script src="/static/js/index.js"></script>
    </body>
</html>
