<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GearMind Mini-Game{% endblock %}</title>

        {% block styles %}
        <link rel="stylesheet" href="/static/css/index.css">
        {% endblock %}

        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        {% block script %}
        <script src="/static/js/index.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="container">
            <h2>Добро пожаловать, {{ user_name }}</h2>

            {% if level is defined and experience is defined %}
                <p id="level" style="display: none">Уровень: {{ level }}</p>
                <p id="experience" style="display: none">Опыт: {{ experience }}</p>
                <button class="btn" id="play">Играть</button>
            {% else %}
                <button class="btn" id="create">Создать профиль</button>
            {% endif %}
        </div>
    </body>
</html>
