<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Прогресс игрока</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>

    <body>
        <div class="container">
            <h2>Прогресс игрока: {{ user_name }}</h2>
            <p><strong>Уровень:</strong> {{ level }}</p>
            <p><strong>Опыт:</strong> {{ experience }}</p>
        </div>
    </body>
</html>
