<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
    </head>

    <body>
        <h1>Регистрация</h1>
        <form action="/signup" method="post">
            <label for="first_name">Ваше имя:</label><br>
            <input type="text" id="first_name" name="first_name"><br>

            <label for="phone_number">Номер телефона:</label><br>
            <input type="text" id="phone_number" name="phone_number"><br>

            <label for="user_email">Эл. почта:</label><br>
            <input type="email" id="user_email" name="user_email"><br>

            <label for="user_password">Пароль:</label><br>
            <input type="password" id="user_password" name="user_password"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>