<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        <link rel="stylesheet" href="signup.css">
    </head>



    <body>
        <h1>Регистрация</h1>
        <form action="/signup/{{ user_id }}" method="post">
            <div class="inputGroup">
                <input type="text" required="" autocomplete="off" id="first_name" name="first_name">
                <label for="first_name">Ваше имя</label>
            </div>
            <div class="inputGroup">
                <input type="text" required="" autocomplete="off" id="phone_number" name="phone_number">
                <label for="phone_number">Номер телефона:</label>
            </div>
            <div class="input-group">
                <label class="label">Email address</label>
                <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                <div></div>
            </div>
            <div class="inputGroup">
                <input type="password" required="" autocomplete="off" id="user_password" name="user_password">
                <label for="user_password">Пароль</label>
            </div>

            <button type="submit">Регистрация</button>
        </form>
    </body>
</html>