<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        
    </head>

    <body>
        <h1>Регистрация</h1>
        <form action="{{ url_for('signup.signup') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="signupForm">
                <label>{{ form.name.label }}</label>
                <p class="inputGroup">{{ form.name() }}</p>

                <label>{{ form.bday.label }}</label>
                <p class="inputGroup">{{ form.bday() }}</p>

                <label>{{ form.phone.label }}</label>
                <p class="inputGroup">{{ form.phone() }}</p>

                <label>{{ form.email.label }}</label>
                <p class="inputGroup">{{ form.email() }}</p>

                <label>{{ form.password.label }}</label>
                <p class="inputGroup">{{ form.password() }}</p>

                <p class="inputGroup">{{ form.submit() }}</p>
            </div>
        </form>
    </body>
</html>